/* product-form.component.css */

/* Container styles */
form {
    max-width: 1050px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea,
select,
button {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Styling generated variants */
.variant-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.variant-card h3 {
    margin-top: 0;
    font-size: 1.1em;
}

.variant-card p {
    margin: 8px 0;
}

.variant-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
}



.button-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.lable-row{ 
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}
.button-row .btn {
    background-color: #007bff;
    color: white;
}