<div class="container mt-4">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by product arribute"
      [(ngModel)]="searchTerm"
      (input)="onSearch()" 
    />
  </div>
<div class="mt-4">
    <button [routerLink]="['/addproduct']" class="btn btn-primary">Add Product</button>
    <button (click)="exportProductData()" class="btn btn-success">Export All Product Data</button>
  <input
  type="file"
  (change)="onFileSelected($event)"
  accept=".xlsx, .xls"
  #fileInput
  style="display: none"
/>
<button class="btn btn-secondary" (click)="fileInput.click()">Import</button>
  </div>


  <h2>Product Types</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>No</th>
        <th>Product Name</th>
        <th>SKU</th>
        <th>Colors</th>
        <th>Size</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productType; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ product.productype }}</td>
        <td>{{ product.sku }}</td>
        <td>{{ product.colors }}</td>
        <td>{{ product.size }}</td>
        <td>{{product.description}}</td>
        <td>
          <button
            class="btn btn-secondary btn-sm ml-2"
            [routerLink]="['/edit', product.id]"
          >
            Detail
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
